# Completely exclude canvas.cpp from GitHub language detection
canvas.cpp linguist-detectable=false

# Force all cpp and h files to be counted as C++
*.cpp linguist-language=Cpp
*.h   linguist-language=Cpp
